In [ ]:
# Basic Programming: Data Types/Structures
Type I: Sequence
        > inside sequence, elements have a sequential order
        > because sequence elements have a sequential order, they can be:
            -indexed
            -sliced
            -iterated
        > well-known exampes are strings, lists, and tuples
        
    Type II: Unordered data
        > Common types are dictionaries and sets:
            -a dictionary stores relationships between a key and value
            -a set is just an unordered collection of values
         
        Boolean
        NumPy arrays
        Dataframes
        Integers
        Floats

In [ ]:
Type I: SEQUENCE

In [2]:
# B: Lists:
#> syntax: [elements separated by commas]
# # Lists Are Ordered i.e.The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime.

oligo1 = ['a', 'g', 'c', 't'] # creates four string objects in a list object
oligo2 = ['g', 'a', 'c', 't']
 
oligo1 == oligo2

False

In [11]:

my_number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

DNA_bases = ['a', 'g', 'c', 't']

my_mixed_list = [1, 2, 'a', 'g', 'c', 't']

my_nested_list = [[0, 1, 2], ['g', 'a', 'c'], ['t', 3, 4], 5, 6] 

# we may want to initialize an empty list and add the elements later
my_empty_list = [] 

# if you know in advance that a list is going to have a predetermined length or number of elemets, for example, we can initialize it with a default value for number of elements
# syntax: list_name = [default element] * length
codons = [None] * 5
codons

[None, None, None, None, None]

In [37]:
# Another way of obtaining lists is to turn a non list object into a list by using the in-buit function list():
human_oligo = 'AGCATGCATCGATCG'
oligo_list = list(human_oligo)
oligo_list

['A', 'G', 'C', 'A', 'T', 'G', 'C', 'A', 'T', 'C', 'G', 'A', 'T', 'C', 'G']

In [38]:
# the function str() converts its input parameter into a string, but cannot revert the effect of the list:
str(oligo_list) #  just turns the list into a string (a literal representation of the original string), but not the original string

"['A', 'G', 'C', 'A', 'T', 'G', 'C', 'A', 'T', 'C', 'G', 'A', 'T', 'C', 'G']"

In [39]:
# to have the original string back, we have to join the elements of the list:
"".join(oligo_list)

'AGCATGCATCGATCG'

In [7]:
# > list comprehensions allow you to perform transformations over lists i.e. elements of the old list (or set) are transformed into new elements. 
# The list comprehension operator allows to filter or transform a list.
# The original list is left unchanged. A new list is created instead.
x = {0,3,6,9,12,15}
y = [i**2 for i in x]
y

[0, 9, 36, 81, 144, 225]

In [12]:
# As a filter. Given an arbitrary list original, I can create a new list that only contains those elements of original that satisfy a given condition.
# The abstract syntax is:
    #filtered = [element for element in original if condition(element)]
# Here condition() is arbitrary. Let’s see a few examples.
my_number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Let’s create (extract) a list with the even numbers:
even_numbers = [n
                for n in my_number_list
                if n % 2 == 0]
even_numbers

[2, 4, 6, 8, 10]

In [23]:
# Example2. Given a list of DNA codons:
codons = ["ACT", "CCT", "ATA", "TAT"]

# we keep only those sequences that contain at least one adenosine:
codons_with_a = [codon
                    for codon in codons
                    if "A" in codon]
codons_with_a

['ACT', 'ATA', 'TAT']

In [24]:
# If we want only those with no adenosine, we can invert the condition:
codons_without_a = [codon
                       for codon in codons
                       if not "A" in codon]
codons_without_a

['CCT']

In [25]:
#As a transformation. Given an arbitrary list original, I can use a list comprehension to also transform the elements in the list in some way.
# Example. Given the list of primary sequences:

sequences = [
    "MVLTIYPDELVQIVSDKIASNK",
    "GKITLNQLWDIS",
    "KYFDLSDKKVKQFVLSCVILKKDIE",
    "VYCDGAITTKNVTDIIGDANHSYS",
]
# let’s compute the length of each sequence, and save them in another list:
lengths = [len(seq) for seq in sequences]
lengths

[22, 12, 25, 24]

In [26]:
lengths = [len(seq) for seq in sequences if len(seq) < 20]
lengths

[12]

In [18]:
# Accessing List Elements
# you access list elemnts by an index starting at zero

In [27]:
oligo1

['a', 'g', 'c', 't']

In [28]:
oligo1[0]

'a'

In [29]:
oligo1[2]

'c'

In [30]:
# you can also access lists using negative indexes:
oligo1[-1]

't'

In [31]:
oligo1[-2]

'c'

In [41]:
# Copying a List: two ways:-
# using a module:
#import copy
oligo1

['a', 'g', 'c', 't']

In [45]:
new_oligo1 = copy.copy(oligo1)
new_oligo1

['a', 'g', 'c', 't']

In [ ]:
# copy w/o the copy module:

In [6]:
 #iii) Count how many times a substring appears between start and end position (if specified): the count() function
      # The count() function has one compulsory and two optional parameters:
                #> Mandatory paramater: 1)substring – string whose count is to be found.
                #>Optional Parameters: 1)start (Optional) – starting index within the string where search starts. 2)end (Optional) – ending index within the string where search ends.
                   
t = DNAseq.count('T')
t

3

In [7]:
t1 = DNAseq.count('T', 1,3)
t1

1

In [8]:
t4 = DNAseq.count('T', 0,4)
t4

2

In [9]:
c = DNAseq.count('C')
g = DNAseq.count('G')
float(c+g)/len(DNAseq)*100 # the float function is used to force a floating point result (%CG content), but this is not required in Python 3

42.857142857142854

In [23]:
cg = DNAseq.count('CG')
cg

0

In [25]:
gc = DNAseq.count('GC')
gc

1

In [19]:
# iv) Return the index position of the substring (mandatory parameter), between the start and end position (optional parameters): the find() function:
DNAseq

'TTGCTAG'

In [27]:
DNAseq.find("A")

5

In [26]:
DNAseq.find("TG")

1

In [29]:
DNAseq.find("T", 0, 5) # returns location of first instance of "T"

0

In [30]:
mRNAseq

'UUGCUAG'

In [31]:
mRNAseq.find('AUG') # not found:

-1

In [32]:
mRNAseq.find('UAG') # returns index of first element in substring, U

4

In [34]:
# 5v) Also Return the index position of the substring (mandatory parameter), between the start and end position (optional parameters): the index() function:
mRNAseq.index("U")

0

In [35]:
# but different from find() method in that it returns a ValueError when the substring is not found:

mRNAseq.index("T")

ValueError: substring not found

In [ ]:
# ...so the index method is recommended over the find() method since the value -1 could be interpreted as a valid value

In [36]:
# vi) Separate the substrings of a string and return then as a list using the split() function:
# syntax: split([sep [,maxsplit]])
# if a separator (sep) is not specified, the default separator will be white space i.e. string is split AT space between substrings
# maxsplit : It is a number, which tells us to split the string into maximum of provided number of times. 
signal_peptide

'maskatlllaftllfatcia'

In [37]:
signal_peptide.split() # no space

['maskatlllaftllfatcia']

In [44]:
signal_peptide.split()

['maskatlllaftllfatcia']

In [48]:
split_signal_peptide = signal_peptide.split("a")
split_signal_peptide

['m', 'sk', 'tlll', 'ftllf', 'tci', '']

In [49]:
split_signal_peptide2 = signal_peptide.split("a", 1)
split_signal_peptide2

['m', 'skatlllaftllfatcia']

In [50]:
split_signal_peptide3 = signal_peptide.split("a", 2)
split_signal_peptide3

['m', 'sk', 'tlllaftllfatcia']

In [45]:
DNAseq

'TTGCTAG'

In [47]:
split_DNAseq = DNAseq.split("C")
split_DNAseq

['TTG', 'TAG']

In [53]:
# vii) Join stringsusing the join() function:
# syntax: sep.join(iterable)
# string_name: name of string in which joined elements of iterable will be stored.
# Parameters: The join() method takes iterable – objects capable of returning its members one at a time. Some examples are List, Tuple, String, Dictionary and Set
# sep = separator
sep = "-"
rejoined_DNAseq = sep.join(split_DNAseq)
rejoined_DNAseq

'TTG-TAG'

In [54]:
sep = ""
rejoined_DNAseq2 = sep.join(split_DNAseq)
rejoined_DNAseq2

'TTGTAG'