In [ ]:
# Basic Programming: Data Types/Structures
Type I: Sequence
        > inside sequence, elements have a sequential order
        > because sequence elements have a sequential order, they can be:
            -indexed
            -sliced
            -iterated
        > well-known exampes are strings, lists, and tuples
        
    Type II: Unordered data
        > Common types are dictionaries and sets:
            -a dictionary stores relationships between a key and value
            -a set is just an unordered collection of values
         
        Boolean
        NumPy arrays
        Dataframes
        Integers
        Floats

In [ ]:
Type I: SEQUENCE

In [ ]:
 A: Tuples:

In [4]:
#>is a type of sequence of symbols or characters delimited by '', "", or """ (double triple quotes)
# elements are enclosed between parentheses rather than square brackets:
point = (2, 5, 4) # cf. coordinate system (x, y, z)

# immutable once created: cannot append() to, pop()...so we use it to make a safer code-the info we don't want to change stays 'write-protected' in an immutable tuple

# a tuple with a single element is written with a trailing comma:
lone_element_tuple = (2,)

In [5]:
lone_element_tuple.dtypes

AttributeError: 'tuple' object has no attribute 'dtypes'

In [6]:
# Indexxing a tuple:
point = (2, 5, 4)
point[0]

2

In [7]:
point[1]

5

In [8]:
point[-1]

4

In [19]:
# concatanation:
point_a = (3, 4, 5)

point_b = (6, 7, 8)

point_c = point_a + point_b 
point_c

(3, 4, 5, 6, 7, 8)

In [20]:
# Slicing:
# slicing consists of two indexes ssparated by a colon (:)
point_xy = point_c[0:2]
point_xy

(3, 4)

In [22]:
# when the first index is not specified, the index value defaults to the first position:
point_xy = point_c[:2]
point_xy

(3, 4)

In [23]:
# when the second index is not specified, the index value defaults to the last position (-1:
point_yz = point_c[3:]
point_yz

(6, 7, 8)

In [24]:
point_yz = point_c[1:]
point_yz

(4, 5, 6, 7, 8)

In [27]:
# there is a thrid optional argument to skip positions:
point_yz = point_c[:4:1]
point_yz

(3, 4, 5, 6)

In [29]:
# there is a thrid optional argument to skip positions:
point_yz = point_c[:4:2]
point_yz

(3, 5)

In [30]:
# there is a thrid optional argument to skip positions:
point_yz = point_c[::1]
point_yz

(3, 4, 5, 6, 7, 8)

In [31]:
# there is a thrid optional argument to skip positions:
point_yz = point_c[::2]
point_yz

(3, 5, 7)

In [32]:
# membership test:
# use 'in' keyword e.g:
11 in point_yz

False

In [33]:
# len, max, min
len(point_yz) # returns the number of elements of a sequence

3

In [34]:
max(point_yz)

7

In [35]:
min(point_yz)

3

In [2]:
# max() and min() applied to strings returns a character according to the maximum or minimum value of its ASCII code:
mRNAseq = 'UUGCUAG'
max(mRNAseq)

'U'

In [3]:
min(mRNAseq)

'A'